.contact {
  background-color: #f8fafc;
  width: 100%;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-header {
  text-align: center;
}

.contact-eyebrow {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(4, 158, 247);
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
  margin-top: 10px;
}

.contact-description {
  font-size: 1.25rem;
  font-weight: 400;
  color: #3d3c3c;
  max-width: 500px;
  margin: 0 auto;
}

.success-message {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-top: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #3d3c3c;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  width: 100%;
}

.contact-button {
  background-color: rgb(4, 158, 247);
  color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: 700;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  font-size: 1rem;
  transform: scale(1);
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
}

.contact-button:hover {
  background-color: rgb(25, 120, 175);
  transform: scale(1.02);
}
